{% extends 'core/base.html' %}

{% block title %}Items{% endblock %}
{% block content %}
<div class="p-6 grid grid-cols-4 gap-4 bg-gray-100 rounded-xl">
    <div class="col-span-1">
        <form method="get" action="{% url 'item:items' %}">
            <input 
                name="query" 
                class="w-full py-4 px-6 border rounded-xl"
                type="text"
                value="{{ query }}"
                placeholder="Find a toy, a chair, and some tops..."
                >
            <button class="mt-2 py-4 px-8 text-lg bg-pink-500 text-white rounded-xl">Search</button>
        </form>
        <hr class="my-6">
        <p class="font-semibold">Categories</p>
        <ul>
            {% for category in categories %}
            <li class="p-2 rounded-xl{% if category.id == category_id %} bg-gray-200{% endif %}">
                <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-span-3">
        <div class="grid grid-cols-3 gap-3">
            {% for item in items %}
            <div>
                <a href="{% url 'item:detail' item.id %}" class="flex flex-col">
                    <div class="h-60 overflow-hidden rounded-t-xl">
                        <img src="{{ item.image.url }}" class="w-full h-full object-cover">
                    </div>
                    <div class="p-6 bg-white rounded-b-xl flex-l">
                        <h2 class="text-2xl">{{ item.name }}</h2>
                        <p class="text-gray-500">Price: {{ item.price }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}